.Comparison {
    color: #112233;
    background-color: #fff5dd;
}
.ComparisonList{
  
}
.ComparisonListElement {
    margin: 15px;
    background-color: #fefefe;
    border: 1px solid white;
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
}
.RealtyDescription {
    width: 150px;
}
.RealtyDescription h6 {
    margin: 5px 0;
}
.MortgageSchemes {
    display: table;
    width: calc(100% - 150px);
    table-layout: fixed;
    background-color: rgba(0,0,0,0.1);
}
.MortgageScheme {
    display: table-row;
}
.SchemeName {
    display: table-cell;
    width: 16%;
}
.Plan {
    display: table-cell;
    width: 42%
}
.Plan h6 {
    margin: 0 5px;
}
.Plan h5 {
    margin: 0 5px;
}  